# Python Distribution Package Requirements for pygatt.
#
# Source:: https://github.com/ampledata/pygatt
# Author:: Greg Albrecht <gba@orionlabs.co>
# Copyright:: Copyright 2015 Orion Labs, Inc.
# License:: Apache License, Version 2.0


flake8==2.1.0
pylint==3.2.6
pytest==8.3.2
coverage==5.5
mock==3.0.5
funcsigs==1.0.2
